<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.Charts" version="22.1.13" targetFramework="net48" />
  <package id="DevExpress.Charts.Core" version="22.1.13" targetFramework="net48" />
  <package id="DevExpress.CodeParser" version="22.1.13" targetFramework="net48" />
  <package id="DevExpress.Data" version="22.1.13" targetFramework="net48" />
  <package id="DevExpress.DataAccess" version="22.1.13" targetFramework="net48" />
  <package id="DevExpress.DataVisualization.Core" version="22.1.13" targetFramework="net48" />
  <package id="DevExpress.Document.Processor" version="22.1.13" targetFramework="net48" />
  <package id="DevExpress.Drawing" version="22.1.13" targetFramework="net48" />
  <package id="DevExpress.Office.Core" version="22.1.13" targetFramework="net48" />
  <package id="DevExpress.Pdf.Core" version="22.1.13" targetFramework="net48" />
  <package id="DevExpress.Pdf.Drawing" version="22.1.13" targetFramework="net48" />
  <package id="DevExpress.Printing.Core" version="22.1.13" targetFramework="net48" />
  <package id="DevExpress.RichEdit.Core" version="22.1.13" targetFramework="net48" />
  <package id="DevExpress.Snap.Core" version="22.1.13" targetFramework="net48" />
  <package id="DevExpress.Sparkline.Core" version="22.1.13" targetFramework="net48" />
  <package id="DevExpress.Spreadsheet.Core" version="22.1.13" targetFramework="net48" />
  <package id="DevExpress.TreeMap" version="22.1.13" targetFramework="net48" />
  <package id="DevExpress.TreeMap.Core" version="22.1.13" targetFramework="net48" />
  <package id="DevExpress.Xpo" version="22.1.13" targetFramework="net48" />
</packages>